@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../assets/fonts/Proxima_Nova_Bold.otf"); }
@font-face {
  font-family: 'Proxima Nova Condensed Semibold';
  src: url("../assets/fonts/Proxima_Nova_Condensed_Semibold.otf"); }
@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../assets/fonts/Proxima_Nova_Light.otf"); }
@font-face {
  font-family: 'Proxima Nova Regular';
  src: url("../assets/fonts/Proxima_Nova_Regular.otf"); }
@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../assets/fonts/Proxima_Nova_Semibold.otf"); }
@font-face {
  font-family: 'Bender Black';
  src: url("../assets/fonts/Bender-Black.otf"); }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none; }

html,
body {
  height: 100vh;
  width: 100%;
  background: white; }

h1, h2, h3, h4 {
  cursor: default; }

/*header*/
.header {
  padding: 10px;
  width: 100%;
  height: 730px;
  background: url("../assets/pictures/png/header-bg.png") no-repeat 50% 50%;
  background-size: cover; }

.wrapper {
  max-width: 1125px;
  width: 100%;
  margin: 0 auto; }

.nav {
  width: 100%; }

.header-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.header-list .header-item {
  cursor: default; }
  .header-list .header-item:first-child {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .header-list .header-item:first-child .header-item-img {
    width: 90px;
    margin-right: 25px; }
  .header-list .header-item:first-child .sub-list .sub-item:first-child {
    font-family: 'Proxima Nova Semibold', sans-serif;
    font-size: 26px;
    color: white; }
  .header-list .header-item:first-child .sub-list .sub-item:last-child {
    font-family: 'Proxima Nova Light', sans-serif;
    font-size: 18px;
    line-height: 1;
    color: white; }
  .header-list .header-item:last-child .sub-list .sub-item:first-child {
    font-family: 'Bender Black', sans-serif;
    font-size: 28px;
    color: white;
    text-align: right; }
  .header-list .header-item:last-child .sub-list .sub-item:last-child {
    font-family: 'Proxima Nova Light', sans-serif;
    font-size: 18px;
    color: white;
    text-align: right; }
  .header-list .header-item:last-child .sub-list .sub-item:last-child p {
    border-bottom: 1px dashed white;
    display: inline-block;
    cursor: pointer; }

.header__container {
  position: relative;
  width: 100%;
  margin-top: 38px; }

.header-img {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 430px; }

.header-caption {
  color: white; }
  .header-caption:first-child {
    font-family: 'Bender Black', sans-serif;
    font-size: 52px;
    line-height: 0.85;
    letter-spacing: 2.25px;
    margin-bottom: 10px; }
  .header-caption:nth-child(2) {
    font-family: 'Proxima Nova Regular', sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 1;
    margin: 18px 0 10px; }
  .header-caption:nth-child(3) {
    font-family: 'Bender Black', sans-serif;
    font-size: 22px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 10px; }

.header-wrapper .header__box {
  width: 240px;
  margin-bottom: 18px;
  position: relative; }
  .header-wrapper .header__box:first-child {
    margin-top: 65px; }
  .header-wrapper .header__box:last-child {
    margin-bottom: 0; }
  .header-wrapper .header__box:before {
    content: '';
    position: absolute;
    opacity: 1;
    top: 0;
    right: -15px;
    width: 25px;
    height: 27px;
    background: #e9eef2;
    background: -moz-linear-gradient(top, #e9eef2 1%, #818f91 65%, #79878a 98%);
    background: -webkit-linear-gradient(top, #e9eef2 1%, #818f91 65%, #79878a 98%);
    background: linear-gradient(to bottom, #e9eef2 1%, #818f91 65%, #79878a 98%);
    clip-path: polygon(0 0, 12px 0, 100% 100%, 12px 100%);
    transition: all .5s ease-in-out; }
  .header-wrapper .header__box:after {
    content: '';
    position: absolute;
    opacity: 1;
    top: 0;
    right: -25px;
    width: 15px;
    height: 15px;
    background: #e9eef2;
    background: -moz-linear-gradient(top, #e9eef2 1%, #818f91 65%, #79878a 98%);
    background: -webkit-linear-gradient(top, #e9eef2 1%, #818f91 65%, #79878a 98%);
    background: linear-gradient(to bottom, #e9eef2 1%, #818f91 65%, #79878a 98%);
    clip-path: polygon(0 0, 7px 0, 100% 100%, 7px 100%);
    transition: all .3s ease-in-out; }
  .header-wrapper .header__box:hover:before {
    right: -35px;
    opacity: 0; }
  .header-wrapper .header__box:hover:after {
    right: -45px;
    opacity: 0; }

.header-box__container {
  cursor: pointer;
  clip-path: polygon(0 0, 220px 0, 100% 100%, 20px 100%);
  width: 240px;
  height: 47px;
  background: #e9eef2;
  background: -moz-linear-gradient(top, #e9eef2 1%, #818f91 65%, #79878a 98%);
  background: -webkit-linear-gradient(top, #e9eef2 1%, #818f91 65%, #79878a 98%);
  background: linear-gradient(to bottom, #e9eef2 1%, #818f91 65%, #79878a 98%); }

.header-box-wrapper {
  padding: 1px 2px 2px;
  display: flex;
  flex-direction: row; }

.header-box-icon {
  width: 22px;
  max-height: 22px;
  margin: auto auto auto 5px; }

.header-box-caption {
  clip-path: polygon(0 0, 170px 0, 100% 100%, 20px 100%);
  background: #e9eef2;
  background: -moz-linear-gradient(top, #0f1514 1%, #272d2f 50%, #0f1514 100%);
  background: -webkit-linear-gradient(top, #0f1514 1%, #272d2f 50%, #0f1514 100%);
  background: linear-gradient(to bottom, #0f1514 1%, #272d2f 50%, #0f1514 100%);
  height: 44px;
  width: 190px;
  display: flex; }

.header-box-caption p {
  color: white;
  font-family: 'Bender Black', sans-serif;
  font-size: 22px;
  font-weight: normal;
  letter-spacing: 1px;
  margin: auto; }

.header-box-text {
  font-family: 'Proxima Nova Light', sans-serif;
  font-size: 16px;
  margin: 8px auto 0;
  display: block;
  text-align: center;
  color: #909090;
  cursor: default; }

.header__btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 50px; }

.header-btn-wrapper {
  width: 250px;
  cursor: pointer;
  position: relative; }
  .header-btn-wrapper:first-child {
    margin: 0 35px 0 auto; }
    .header-btn-wrapper:first-child:before {
      content: '';
      width: 300px;
      height: 70px;
      position: absolute;
      top: -15px;
      left: -25px;
      background: url("../assets/pictures/svg/shadow.svg") no-repeat 50% 50%;
      background-size: 110%; }
  .header-btn-wrapper:last-child {
    margin: 0 auto 0 0; }
    .header-btn-wrapper:last-child:before {
      content: '';
      width: 300px;
      height: 70px;
      position: absolute;
      top: -15px;
      left: -25px;
      background: url("../assets/pictures/svg/shadow.svg") no-repeat 50% 50%;
      background-size: 110%; }
  .header-btn-wrapper:first-child .header-btn {
    background: url("../assets/pictures/svg/red.svg") no-repeat 50% 50%;
    background-size: cover;
    cursor: pointer;
    position: absolute;
    z-index: 2; }
  .header-btn-wrapper:last-child .header-btn {
    background: url("../assets/pictures/svg/green.svg") no-repeat 50% 50%;
    background-size: cover;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: row; }
  .header-btn-wrapper:first-child .header-btn, .header-btn-wrapper:last-child .header-btn {
    width: 250px;
    display: flex;
    height: 40px; }
  .header-btn-wrapper:first-child .header-btn p, .header-btn-wrapper:last-child .header-btn p {
    color: white;
    cursor: pointer;
    margin: auto;
    font-family: 'Bender Black', sans-serif;
    font-size: 22px; }
  .header-btn-wrapper:first-child .header-btn-text {
    margin: 50px auto 0;
    color: white;
    font-family: 'Proxima Nova Light', sans-serif;
    font-size: 14px;
    width: 250px;
    display: block;
    text-align: center; }
  .header-btn-wrapper:last-child .header-btn-text {
    margin: 50px auto 0;
    color: white;
    font-family: 'Proxima Nova Light', sans-serif;
    font-size: 14px;
    width: 250px;
    display: block;
    text-align: center;
    opacity: 0.7; }

.header-btn-icon {
  width: 20px;
  height: 20px;
  margin: auto;
  cursor: pointer; }

/*end header*/
/*base*/
body .container {
  width: 100%; }
  body .container:nth-child(even) {
    background: white; }
  body .container:nth-child(odd) {
    background: url("../assets/pictures/png/bg.png") no-repeat 50% 50%;
    background-size: cover; }
  body .container:nth-child(2) {
    padding: 30px; }
  body .container:nth-child(2) main .flex-wrapper {
    display: flex; }
  body .container:nth-child(2) main .main__captions {
    margin: auto;
    display: inline-block;
    position: relative; }
    body .container:nth-child(2) main .main__captions:before {
      content: '';
      position: absolute;
      left: -55px;
      top: 0;
      width: 48px;
      height: 48px;
      background: url("../assets/pictures/png/section__caption-1.png") no-repeat 50% 50%;
      background-size: cover;
      transform: scale(-1, 1); }
    body .container:nth-child(2) main .main__captions:after {
      content: '';
      position: absolute;
      right: -55px;
      top: 0;
      width: 48px;
      height: 48px;
      background: url("../assets/pictures/png/section__caption-1.png") no-repeat 50% 50%;
      background-size: cover; }
  body .container:nth-child(2) main .main__captions .main-caption:first-child {
    font-family: 'Bender Black', sans-serif;
    font-size: 42pt;
    line-height: 0.85;
    letter-spacing: 2.25px;
    color: #252525;
    text-align: center;
    margin-bottom: 10px; }
  body .container:nth-child(2) main .main__captions .main-caption:last-child {
    color: #252525;
    font-family: 'Proxima Nova Light', sans-serif;
    font-size: 16pt;
    text-align: center; }
  body .container:nth-child(2) main .main__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; }
  body .container:nth-child(3) {
    height: 420px;
    padding: 10px;
    background: url("../assets/pictures/png/man.png") no-repeat 80% 50%, url("../assets/pictures/png/bg.png") no-repeat 50% 50%;
    background-size: 1000px 900px, cover; }
  body .container:nth-child(3) .main-caption {
    cursor: default; }
    body .container:nth-child(3) .main-caption:first-child {
      font-family: 'Bender Black', sans-serif;
      color: white;
      line-height: 1;
      font-size: 48px; }
    body .container:nth-child(3) .main-caption:nth-child(2) {
      margin: 8px 0 20px;
      font-family: "Proxima Nova Regular", sans-serif;
      color: white;
      font-size: 16px; }
  body .container:nth-child(3) form .field-wrapper {
    width: 290px;
    height: 60px;
    margin-bottom: 18px; }
    body .container:nth-child(3) form .field-wrapper:first-child, body .container:nth-child(3) form .field-wrapper:nth-child(2) {
      position: relative; }
      body .container:nth-child(3) form .field-wrapper:first-child:before, body .container:nth-child(3) form .field-wrapper:nth-child(2):before {
        content: '';
        z-index: 1;
        position: absolute;
        top: -5px;
        left: -40px;
        width: 370px;
        height: 80px;
        background: url("../assets/pictures/svg/shadow.svg") no-repeat 50% 50%;
        background-size: cover; }
      body .container:nth-child(3) form .field-wrapper:first-child:after, body .container:nth-child(3) form .field-wrapper:nth-child(2):after {
        content: '';
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        width: 290px;
        height: 60px;
        background: url("../assets/pictures/svg/input.svg") no-repeat 50% 50%;
        background-size: cover; }
    body .container:nth-child(3) form .field-wrapper:first-child .field__container, body .container:nth-child(3) form .field-wrapper:nth-child(2) .field__container {
      position: absolute;
      width: 290px;
      height: 60px;
      top: 0;
      left: 0;
      z-index: 4;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
    body .container:nth-child(3) form .field-wrapper:first-child .filed-label, body .container:nth-child(3) form .field-wrapper:nth-child(2) .filed-label {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 15px 0; }
    body .container:nth-child(3) form .field-wrapper:first-child .filed-label .field-icon, body .container:nth-child(3) form .field-wrapper:nth-child(2) .filed-label .field-icon {
      width: 20px;
      height: 20px;
      margin: auto; }
    body .container:nth-child(3) form .field-wrapper:first-child .field, body .container:nth-child(3) form .field-wrapper:nth-child(2) .field {
      background: transparent;
      border: none;
      outline: none;
      margin: 0 auto 0 0;
      width: 220px;
      font-family: "Proxima Nova Semibold", sans-serif;
      font-size: 16px; }
    body .container:nth-child(3) form .field-wrapper:last-child {
      position: relative; }
      body .container:nth-child(3) form .field-wrapper:last-child:before {
        content: '';
        z-index: 1;
        position: absolute;
        top: -5px;
        left: -40px;
        width: 370px;
        height: 80px;
        background: url("../assets/pictures/svg/shadow.svg") no-repeat 50% 50%;
        background-size: cover; }
      body .container:nth-child(3) form .field-wrapper:last-child:after {
        content: '';
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        width: 290px;
        height: 60px;
        background: url("../assets/pictures/svg/red.svg") no-repeat 50% 50%;
        background-size: cover; }
    body .container:nth-child(3) form .field-wrapper:last-child .field-btn {
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 4;
      outline: none;
      background: none;
      border: none;
      width: 290px;
      height: 60px;
      color: white;
      font-family: "Bender Black", sans-serif;
      font-size: 22pt; }
  body .container:nth-child(4) {
    padding: 30px; }
  body .container:nth-child(4) .flex-wrapper {
    display: flex;
    flex-direction: row; }
  body .container:nth-child(4) .main__captions {
    display: inline-block;
    font-family: 'Bender Black', sans-serif;
    font-size: 38px;
    line-height: 0.85;
    letter-spacing: 2.25px;
    color: #252525;
    text-align: center;
    margin: auto auto 10px;
    position: relative; }
    body .container:nth-child(4) .main__captions:before {
      content: '';
      position: absolute;
      top: 0;
      left: -60px;
      width: 48px;
      height: 48px;
      background: url("../assets/pictures/svg/tools.svg") no-repeat 50% 50%;
      background-size: cover;
      transform: scale(-1, 1); }
    body .container:nth-child(4) .main__captions:after {
      content: '';
      position: absolute;
      top: 0;
      right: -60px;
      width: 48px;
      height: 48px;
      background: url("../assets/pictures/svg/tools.svg") no-repeat 50% 50%;
      background-size: cover; }

.main-wrapper {
  max-width: 1125px;
  width: 100%;
  margin: 0 auto; }

.car__container {
  position: relative;
  width: 30%;
  max-width: 300px; }
  .car__container:hover .car__block {
    right: -30%;
    opacity: 1; }

.car-img {
  display: block;
  margin: 0 auto; }

.car-caption {
  text-align: center;
  color: #252525;
  font-family: 'Bender Black', sans-serif;
  font-size: 24pt;
  font-weight: normal;
  letter-spacing: 1px;
  cursor: pointer; }

.car__block {
  position: absolute;
  cursor: pointer;
  right: -25%;
  opacity: 0;
  top: 0;
  z-index: 2;
  transition: all .3s ease-in-out; }

.car-wrapper {
  margin-bottom: 8px;
  cursor: pointer;
  position: relative;
  transition: all .5s ease-in-out; }
  .car-wrapper:last-child {
    margin-bottom: 0; }
  .car-wrapper:before {
    content: '';
    position: absolute;
    opacity: 1;
    top: 0;
    right: -8px;
    width: 20px;
    height: 22px;
    background: #e9eef2;
    background: -moz-linear-gradient(top, #e9eef2 1%, #818f91 65%, #79878a 98%);
    background: -webkit-linear-gradient(top, #e9eef2 1%, #818f91 65%, #79878a 98%);
    background: linear-gradient(to bottom, #e9eef2 1%, #818f91 65%, #79878a 98%);
    clip-path: polygon(0 0, 10px 0, 100% 100%, 10px 100%);
    transition: all .5s ease-in-out; }
  .car-wrapper:after {
    content: '';
    position: absolute;
    opacity: 1;
    top: 0;
    right: -15px;
    width: 14px;
    height: 12px;
    background: #e9eef2;
    background: -moz-linear-gradient(top, #e9eef2 1%, #818f91 65%, #79878a 98%);
    background: -webkit-linear-gradient(top, #e9eef2 1%, #818f91 65%, #79878a 98%);
    background: linear-gradient(to bottom, #e9eef2 1%, #818f91 65%, #79878a 98%);
    clip-path: polygon(0 0, 8px 0, 100% 100%, 6px 100%);
    transition: all .3s ease-in-out; }
  .car-wrapper:hover:before {
    right: -28px;
    opacity: 0; }
  .car-wrapper:hover:after {
    right: -35px;
    opacity: 0; }

.car-text {
  clip-path: polygon(0 0, 85% 0, 100% 100%, 15% 100%);
  display: inline-block;
  padding: 3px 3px 2px;
  background: #e9eef2;
  background: -moz-linear-gradient(top, #e9eef2 1%, #818f91 65%, #79878a 98%);
  background: -webkit-linear-gradient(top, #e9eef2 1%, #818f91 65%, #79878a 98%);
  background: linear-gradient(to bottom, #e9eef2 1%, #818f91 65%, #79878a 98%); }

.car-text p {
  padding: 8px 20px;
  clip-path: polygon(0 0, 86% 0, 100% 100%, 14% 100%);
  background: #e9eef2;
  background: -moz-linear-gradient(top, #0f1514 1%, #272d2f 50%, #0f1514 100%);
  background: -webkit-linear-gradient(top, #0f1514 1%, #272d2f 50%, #0f1514 100%);
  background: linear-gradient(to bottom, #0f1514 1%, #272d2f 50%, #0f1514 100%);
  color: white;
  font-size: 13pt;
  font-family: 'Proxima Nova Regular', sans-serif; }

/*end base*/

/*# sourceMappingURL=style.css.map */
